{
      "refName": "solr",
      "serviceType": "SOLR",
      "roleConfigGroups": [
        {
          "refName": "solr-SOLR_SERVER-BASE",
          "roleType": "SOLR_SERVER",
          "base": true
        }
      ]
    }