{
  "refName": "spark_on_yarn",
  "serviceType": "SPARK_ON_YARN",
  "serviceConfigs": [
    {
      "name": "yarn_service",
      "ref": "yarn"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "spark_on_yarn-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "base": true
    }, {
      "refName": "spark_on_yarn-SPARK_YARN_HISTORY_SERVER-BASE",
      "roleType": "SPARK_YARN_HISTORY_SERVER",
      "configs": [],
      "base": true
    }
  ]
}